* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--maincolor);
}

:root {
    --maincolor: #ffdddb;
    --secondcolor: #130707;
    --thircolor: #fff;
}

header {
    background-color: var(--secondcolor);
    width: 100%;
    padding: 50px;
    color: var(--maincolor);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    .logo img{
        width: 20%;
    }

    .hud {
        a {
            color: var(--thircolor);
            text-decoration: none;
            margin: 20px;
            position: relative;
            top: 40px;
        }
    }
}

main {
    padding: 50px;

    .container {
        background-color: var(--thircolor);
        display: flex;
        padding: 50px;

        .txtinicio {
            padding-top: 200px;
            text-align: center;

            .tltinicio {
                font-size: 50px;
            }

            .maininicio {
                font-size: 20px;
            }
        }
    }
}

.scd {
    background-color: var(--thircolor);
    padding: 30px;

    .prds {
        display: flex;

        .prd {
            background-color: var(--maincolor);
            margin: 20px;
            text-align: center;
            padding: 80px 20px;
            border-radius: 40px;

            img {
                width: 50%;

            }
        }
    }
}

.trd {
    background-color: var(--secondcolor);

    .trdcontainer {
        padding: 70px;
        display: flex;
        color: var(--thircolor);

        .trdtxt {
            text-align: center;
            padding-top: 100px;
            font-size: 40px;

            .trdtlttxt {
                font-size: 80px;
            }
        }
    }
}

.qrd {
    padding: 80px;

    .qrdcontainer {
background-color: var(--thircolor);
        padding: 70px;

        img {
            width: 40%;
            border-radius: 100%;

        }

        .um {
            display: flex;
            justify-content: space-between;
            font-size: 50px;
            .ttt {
                padding-top: 200px;
            }
        }

        .dois {
            display: flex;
            justify-content: space-between;
            font-size: 50px;
            .ttt {
                padding-top: 200px;
            }
        }

        .tres {
            display: flex;
            justify-content: space-between;
            font-size: 50px;
            .ttt {
                padding-top: 200px;
            }
        }
        
    }
}

footer {
    background-color: var(--secondcolor);
    color: var(--thircolor);
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    a{
    text-decoration: none;
    color: rgb(255, 160, 160);
    }img {
        width: 10%;
    }
}