* {
    padding: 0;
    margin: 0;
}

:root {
    --maincolor: #ffffff;
    --secondcolor: #130707;
    --thircolor: #ad18ca;
    --btncolor: #9b1cce;
}

body {
    background-color: var(--maincolor);
}

.tltnav {
    img {
        width: 20%;
    }
}


.man {
    .mainft {
        width: 100%;
        font-family: "Playfair Display", serif;

        img {
            width: 100%;
            box-sizing: border-box;
        }
    }
}


.sobreall {
    font-family: "Playfair Display", serif;

    .sobre {
        display: flex;

        img {
            width: 50%;
        }
    }
}

.container {
    text-align: center;
}

.icon-hover {
    color: rgb(255, 255, 255);
}

.icon-hover:hover {
    color: #7a0092;
}

footer {
    background-color: var(--thircolor);
    padding: 50px 0;
    text-align: center;
    color: var(--maincolor);
    box-shadow: 0 0 30px var(--thircolor);
    font-family: "Playfair Display", serif;
    font-size: 20px;

    .footerex {
        font-size: 15px;
    }
}




.ex {

    padding: 60px 20px 20px 20px;

    .ex1 {
        display: flex;
        background-color: rgb(250, 212, 255);
        border-radius: 20px;

        .und {
            text-align: center;
            padding: 20px;

            img {
                width: 50%;


            }
        }
    }
}

.slogan {
    padding-top: 70px;
    text-align: center;

    img {
        width: 90%;
    }
}

.form {
    background-color: rgb(252, 236, 255);
}

.h1r {
    text-align: center;
    font-family: "Playfair Display", serif;
    color: rgb(94, 8, 105);
    background-color: #fbe9ff;
    padding-bottom: 20px;
    margin: 0;
}

.navr {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fbe9ff;

    img {
        width: 49%;
        border: 5px solid rgb(94, 8, 105);
    }
}

.mainr {
    text-align: center;
}

.bdyr {
    text-align: center;
    color: rgb(94, 8, 105);
    font-family: "Playfair Display", serif;
    background-color: #fbe9ff;
    margin: 0;
}

.bg {
    background-image: url(../img/resultadofundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.avals {
    font-family: "Playfair Display", serif;
    background-color: white;
    display: flex;

    .aval {
        transition-duration: 0.5s;
        padding: 30px;
        border-radius: 20px;
        margin: 30px;
        background-color: rgb(246, 225, 252);
        justify-content: center;

        .topaval {
            display: flex;
            justify-content: space-between;

            img {
                width: 20%;
                border-radius: 40px;
            }
        }

        .txtaval {
            padding-top: 50px;
        }

        .bottomaval {
            padding-top: 40px;

        }
    }

    .aval:hover {
        transition-duration: 0.5s;
        transform: scale(1.1);
    }
}

.foot {
    a {
        text-decoration: none;
    }
}


.btn-outline-primary {
    --bs-btn-color: var(--btncolor) !important;
    --bs-btn-border-color: var(--btncolor) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--btncolor) !important;
    --bs-btn-hover-border-color: var(--btncolor) !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--btncolor) !important;
    --bs-btn-active-border-color: var(--btncolor) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--btncolor) !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--btncolor) !important;
    --bs-gradient: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--thircolor) !important;
    --bs-btn-border-color: var(--thircolor) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #72158a;
    --bs-btn-hover-border-color: #791da3;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #70157c;
    --bs-btn-active-border-color: #6d0e80;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--thircolor) !important;
    --bs-btn-disabled-border-color: var(--thircolor) !important;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
}