* {
    padding: 0;
    margin: 0;
}

:root {
    --maincolor: #ffffff;
    --secondcolor: #130707;
    --thircolor: #ad18ca;
}

body {
    background-color: var(--maincolor);
}

.man {
    .mainft {
        width: 100%;
        font-family: "Playfair Display", serif;

        img {
            width: 100%;
            box-sizing: border-box;
        }
    }
    .mainbtn {
        position: relative;
        left: 120px;
        bottom: 400px;
        color: var(--secondcolor);

        img{
            padding: 30px;
            width: 20%;
            background-color: var(--thircolor);
            border-radius: 40px;
        }
        img:hover {
            background-color: #160d18;
        }
    }
}


.sobreall {
    padding-top: 100px;
    color: #ad18ca;
    justify-content: center;

    .sobre {
        padding-top: 50px;
        display: flex;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        font-family: "Playfair Display", serif;
        padding-bottom: 20px;

        img {
            width: 50%;
        }
    }
}

.container {
    text-align: center;
}

.icon-hover {
    color: rgb(255, 255, 255);
}

.icon-hover:hover {
    color: #7a0092;
}

footer {
    background-color: var(--thircolor);
    padding: 50px 0;
    text-align: center;
    color: var(--maincolor);
    box-shadow: 0 0 30px var(--thircolor);
    font-family: "Playfair Display", serif;
    font-size: 20px;
}




.ex {

    padding: 60px 20px 20px 20px;

    .ex1 {
        display: flex;
        background-color: rgb(250, 212, 255);
        border-radius: 20px;

        .und {
            text-align: center;
            padding: 20px;

            img {
                width: 50%;


            }
        }
    }
}

.slogan {
    padding-top: 70px;
    text-align: center;

    img {
        width: 90%;
    }
}

.form {
    background-color: rgb(252, 236, 255)
}